* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url(/fonts/Norse-Bold.otf) format("opentype");
}

:root {
    --main-bgcolor: #f9fafb;
    --secondary-bgcolor: #596d48;
    --main-color: black;
    --secondary-color: #fefefe;
    --form-bgcolor: #fff;

    --aside-width: clamp(10px, 35vw, 600px);
    --aside-height: clamp(30px, 100vh, 1000px)
    --left-margin: 20px;
}

body {
    background-color: var(--main-bgcolor);
    display: flex;
    justify-content: center;
}

aside {
    width: var(--aside-width);
    height: var(--aside-height);
    display: inline-block;
    font-family: Norse-bold;
    background-image: url(/assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100%;
}

main {
    width: calc(100vw - var(--aside-width));
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, section, .bottom-section {
    padding-left: 48px;
    position: relative;
}
.hero-text, section, .bottom-section {
    margin: auto 0;
}

section {
    background-color: var(--form-bgcolor);
    box-shadow: 0px 8px 12px -6px rgb(192, 192, 192);
}

.hero-text {
    max-width: 800px;
    min-height: 200px;
    padding-top: 48px;
    margin-bottom: 50px;
    
}

.hero-text h2:last-child {
    margin-top: 25px;
}

form {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 32px;
    padding: 36px 0;
    margin-bottom: 6px;
}

.form-title {
    padding-top: 22px;
    font-size: 24px;
}
.user-data {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    gap: 4px;
    position: relative;
}

input {
    appearance: none;
    width: 300px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

label {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 500;
}

.bottom-section {
    min-height: 200px;
}

button {
    width: 300px;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--secondary-bgcolor);
    color: var(--secondary-color);
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px gray;
    margin: 40px 0;
}

p:last-of-type{
    font-weight: 500;
    font-size: 20px;
}
h2 {
    /* width: clamp(50ch, 66ch, 76ch); */
}

h2:nth-of-type(3) {
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: var(--secondary-bgcolor);
}

.img-container {
    background-color: rgb(0, 0, 0, 0.6);
    color: var(--secondary-color);
    display: flex;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 18px;
}

button:hover {
    cursor: pointer;
    background-color: #8fac76;
}
input:focus {
    outline: 2px solid blue;
    box-shadow: 3px 3px 8px 0px rgb(136, 136, 136);
}
input[type="password"]:invalid {
    outline: 1px solid red;
}

.error-message {
font-size: 12px;
color: red;
position: absolute;
top: 100%; 
left: 0;
display: none; 
}

input[type="password"]:invalid + .error-message {
    display: block;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    aside {
        display: none;
    }
    main {
        width: 100%;
    }
    .bottom-section {
        margin: 0 auto;
        padding-left: 0;
    }
}